{% extends 'base.html' %} 
{% block content %}

<div class="container mx-auto mt-8">
    <div class="flex justify-between items-center mb-4 mx-4">
        <nav class="flex text-2xl" aria-label="breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="{% url 'expenses'%}" class="text-blue-600 hover:text-blue-800">Expenses</a>
                </li>
                <li aria-current="page">
                    <span class="text-gray-500">/ Edit Expense</span>
                </li>
            </ol>
        </nav>
        <a href="{% url 'delete-expense' expense.id %}" class="bg-red-500 text-white px-3 py-1 text-sm rounded hover:bg-red-600">Delete</a>
    </div>

    <div class="bg-white shadow-md rounded-lg p-6">
        <form action="{% url 'edit-expense' expense.id %}" method="post">
            {% include 'components/messages.html'%}
            {% csrf_token %}
            <div class="mb-4">
                <label for="amount" class="block text-sm font-medium text-gray-700">Amount</label>
                <input required type="text" name="amount" id="amount"
                    value="{{ expense.amount }}" 
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500" />
            </div>
            <div class="mb-4">
                <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                <input required type="text" name="description" id="description"
                    value="{{ expense.description }}"
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500" />
            </div>
            <div class="mb-4">
                <label for="category" class="block text-sm font-medium text-gray-700">Category</label>
                <select required name="category"
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md text-sm shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500">
                    <option selected value="{{expense.category}}">{{expense.category}}</option>
                    {% for category in categories %}
                    <option value="{{category.name}}">{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4">
                <label for="date" class="block text-sm font-medium text-gray-700">Date of Expense</label>
                <input type="date" name="date" value="{{expense.date |date:'Y-m-d' }}"
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md text-sm shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" />
            </div>

            <input type="submit" value="Save"
                class="bg-blue-500 text-white px-4 py-2 rounded shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" />
        </form>
    </div>
</div>

{% endblock %}
